@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
$dyno-text: 'DynaPuff';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $dyno-text;
}

p {
    margin: 0% !important;
}

span {
    border-left: 2px solid rgba(128, 128, 128, 0.521);
    // border-radius: 5px;

}

.myContainer {
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 100px;
    font-family: $dyno-text;
}

.myContainer2 {
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 5px;
}

.myContainer3 {
    line-height: 50%;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 5px;
}

.btn-primary {
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #dc3545;
    outline: none;
    border: #0d6efd;
}

.btn-danger {
    transition: 0.5s;
}

.btn-danger:hover {
    background-color: #0d6efd;

}